.backp3{
    background-image: url("./img.webp");
    background-repeat: no-repeat;
    padding: 30px;
    padding-left: 100px;
    background-size: 1290px;
}
.halfp3{
    background-color:transparent;
    width: 600px;
    height: 520px; 
    box-shadow: 5px 5px 5px 5px ;
    margin-left: 250px; 
    border-radius: 10px; 
    padding-top: 20px; 
    border: 3px solid skyblue;
}
.a1{
    display: block;
    margin-top: 23px;
    height: 50px;
    width:400px;
    color: black;
    border: 1.5px solid white;
    background-color: rgba(210, 173, 173, 0.381);
    box-shadow:0px 3px 6px 4px rgba(245, 245, 245, 0.61);
    font-size: 20px;
    margin-left: 100px;
    border-radius: 7px;
    text-align: center;
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fill{
    background-color: rgba(122, 178, 227, 0.767);
    text-align: center;
    margin: 15px;
    margin-top: -5px;
    border: 2px solid greenyellow;
    border-radius: 7px;
    box-shadow:0px 3px 6px 4px rgba(245, 245, 245, 0.61);
}
.p3but{
    background-color: aqua;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 6px;
    font-family: algerian;
    font-weight: bold;
    box-shadow:0px 3px 6px 4px rgba(245, 245, 245, 0.61);
    font-size: 20px;
}
.p31but{
    background-color: aqua;
    width: 300px;
    height: 36px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 6px;
    font-family: algerian;
    font-weight: bold;
    box-shadow:0px 3px 6px 4px rgba(245, 245, 245, 0.61);
    font-size: 20px;
}
