.backp5{
    background-image: url("./forget.jpeg");
    background-repeat: no-repeat;
    /* width: 1500px; */
    padding: 60px;
    padding-left: 100px;
    background-size: 1280px;
}
.halfp5{
    /* background-color:rgb(150, 205, 226); */
    background-color:transparent;
    width: 600px;
    height: 450px; 
    box-shadow: 5px 5px 5px 5px ;
    margin-left: 250px; 
    border-radius: 10px; 
    padding-top: 20px; 
    border: 3px solid skyblue;
}
.textp5{
    width: 220px;
    height: 60px;
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 40px;
    font-family: 'algerian';
    font-weight: bold;
    box-shadow: 4px 4px 5px 4px ;
    background-color: rgb(216, 102, 98);
}
.headingp5{
    background-color:rgb(40, 136, 219);
    width: 520px;
    border-radius: 8px;
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;
    font-weight: lighter;
    font-family: 'itallic';
    border: 2px solid black;
    box-shadow: 0px 3px 6px 4px rgb(40, 31, 48);
}
.txtp5{
    width: 400px;
    text-align: center;
    background-color: rgb(166, 216, 236);
    height: 40px;    
    border: 2px solid rgb(117, 108, 108);
    border-radius: 8px;
    box-shadow: 0px 6px 8px 6px ;
    margin-top: 30px;
    margin-left: 100px;
    font-family: 'itallic';
    font-weight: bold;
}