.backp8{
    background-image: url("./zthanks.gif");
    background-repeat: no-repeat;
    width: 1000px;
    height: 560px;
    margin-left: 30px;
    background-position: top-left;
    background-size: 400px;
}
h1{
    color: rgba(240, 248, 255, 0.719);
    margin-left: 440px;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 3px 3px 3px 3px ;
}
.clr{
    background-color: rgba(0, 0, 0, 0.979);
    margin: 0px;
    padding: 20px;
    height: 560px;
}
.new{
    background-image: url("./zno.png");
    margin-top: -250px;
    margin-left: 700px;
    background-size: 400px;
    width: 400px;
    height: 350px;

}
h2{
    margin-left: 170px;
    padding: 10px;
    width: 400px;
    box-shadow: 3px 3px 3px 3px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -200px;
    align-items: flex-start;
    color: white;
    font-size: 30px;
    text-align: center;
}